# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=your_db

# PostgreSQL Connection String for local / docker
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/url_shortener?schema=public"

# JWT Secret for Authentication
JWT_SECRET="secret-key-2026-secure-jwt-token-key"
